/* Author- Akshpreet Singh Punj, 000820040 */

/* Html Styling */
html {
  height:100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: visible;
}

/* Body Styling */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 60px;
  box-sizing: inherit;
}

/* Container Styling for layout */
.container, .container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0px);
  padding-left: var(--bs-gutter-x, 0px);
  margin-right: auto;
  margin-left: auto;
}

/* Conatiner Styling for different screen sizes */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Link Styling */
a:link {
  text-decoration: none;
}

a:hover {
  color: red;
}

.sort-link, .sort-link:hover {
  color: white;
}

/* Table Styling */
table {
  width:100%;
  overflow-x: scroll;
}

th {
  white-space: nowrap;
}

.break {
  word-wrap: break-word;
}

/* Table styling for different screen sizes */
@media (max-width: 992px) {
  .table {
    overflow: scroll;
  }

  .table thead {
    display: none;
  }

  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 18px;
  }

  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table tbody tr td:before {
    content: attr(data-label);
    position: absolute;
    left:6px;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
  }

  .table .no-data {
    position: relative;
    text-align: center;
    left: 0;
    padding: 0;
  }
}

/* Card Styling */
.card-header {
  background-color: lightgrey;
}

.card {
  border: 2px solid black;
}

/* Form Styling */
#register-form .fa, #login-form .fa, #profile-form .fa {
  font-size: 21px;
}

#register-form .fa-paper-plane, #login-form .fa-paper-plane, #profile-form .fa-paper-plane {
  font-size: 18px;
}

#register-form .fa-check, #profile-form .fa-check {
  color: white;
  left:16px;
  top:17px;
  font-size: 9px;
  position: absolute;
}

/* Footer Styling */
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  clear: both;
}

.trade-items {
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 5px;
}

.details-items {
  background-color: lightgrey;
}